/* Space Invader */
.grid {
    width: 300px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.grid div {
    width: 20px;
    height: 20px;
}

div.grid {
    display: flexbox;
    margin: auto;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.shooter {
    background-color: green;
}

.laser {
    background-color: orange;
}

.boom {
    background-color: red;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Connect Four */
.connectGrid {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 140px;
}

.connectGrid div{
    height: 20px;
    width: 20px;
}

div.connectGrid {
    display: flexbox;
    margin: auto;
}

.player-one{
    background-color: red;
    border-radius: 10px;
}

.player-two{
    background-color: blue;
    border-radius: 10px;
}